---
layout: default
toc: false
---
<!-- Post Header -->
{% include intro-header.html %}

<!-- Post Container -->
<main>
  <div class="container portrait">
    <div class="container landscape post">
      <div class="container portrait">
        <!-- Post Content -->
        <article class="article">
          {{ content }}
        </article>
        {% if page.comments %}
        <div class="post article" id="disqus_thread"></div>
        <script>
          // RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          // LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

          var disqus_config = function () {
            this.page.url = '{{site.url}}{{page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{site.url}}{{page.url}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://adamsandwich.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        {% endif %}
      </div>
      <!-- Table of Content -->
      {% toc %}
    </div>
    <div class="pager">
      {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
        data-placement="top" title="{{page.previous.title}}">
        <button class="previous">
          Previous<br>
          <span>{{page.previous.title}}</span>
        </button>
      </a>
      {% endif %}
      {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
        data-placement="top" title="{{page.next.title}}">
        <button class="next">
          Next<br>
          <span>{{page.next.title}}</span>
        </button>
      </a>
      {% endif %}
    </div>
  </div>
  </div>
</main>
